beautifulsoup4==4.8.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
fastapi==0.35.0
h11==0.8.1
idna==2.8
pydantic==1.6.2
requests==2.22.0
soupsieve==1.9.2
starlette==0.12.7
urllib3==1.25.3
uvicorn==0.11.7
websockets==7.0
